// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.9);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
    font-size: 24px;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  & h3 {
    font-size: 65px;
  }
}

.widget-text-custom {

    background-color: #ff0000;
}
